// Шрифт
$text-font-stack: 'Roboto', sans-serif;

// Главный цвет (после белого)
$main-color: #fff;

// Цвет текста и заголовков
$second-color: #323232;

// Цвет заголовков и некоторых кнопок
$color-title: #c99c47;

// Цвет основной кнопки
$color-btn: #d4c198;

// Цвет рамок выпадающего меню
$color-dropdown: #d6d6d6;

// Ширина контейнера
$max-width: 73.125rem;

/// Main brand color
/// @type Color
// $brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
// $light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
// $dark-grey: rgb(68, 68, 68) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} va7ues - Values are actual breakpoints expressed in pixels
// $breakpoints: (
// 	'small': 320px,
// 	'medium': 768px,
// 	'large': 1024px,
// ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
// ///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
