// Шрифт
$text-font-stack: 'Roboto', sans-serif;

// Главный цвет 
$main-color: #fff;

// Цвет текста и заголовков
$second-color: #323232;

// Цвет заголовков и некоторых кнопок
$color-title: #c99c47;

// Цвет основной кнопки
$color-btn: #d4c198;

// Цвет кнопок отправки формы
$color-form-btn: rgba(201, 156, 71);

// Цвет рамок выпадающего меню
$color-dropdown: #d6d6d6;

// Цвет пункта главного меню при наведении курсора и активного
$color-menu-active: #000000;

// Фоновый цвет некоторых секций сайта
$color-section: rgba(232, 216, 182, .3);

// Цвет надписей в формах
$color-form-text: #606060;

// Цвет рамок в форме регистрации
$color-form-border: #e8d8b6;

// Цвет кнопок выбора в форме
$color-form-choice: #f2ead8;

$color-form-choice-active: #e2cc9d;

// Ширина контейнера
$max-width: 73.125rem;