// Шрифт
$text-font-stack: 'Roboto', sans-serif;

// Главный цвет 
$main-color: #fff;

// Цвет текста и заголовков
$second-color: #323232;

// Цвет заголовков и некоторых кнопок
$color-title: #c99c47;

// Цвет основной кнопки
$color-btn: #d4c198;

// Цвет кнопок отправки формы
$color-form-btn: rgba(201, 156, 71);

// Цвет рамок выпадающего меню
$color-dropdown: #d6d6d6;

// Цвет пункта главного меню при наведении курсора и активного
$color-menu-active: #000000;

// Фоновый цвет некоторых секций сайта
// $color-section: #e8d8b6;
$color-section: rgba(232, 216, 182, .3);

// Цвет надписей в формах
$color-form-text: #606060;

// Цвет рамок в форме регистрации
$color-form-border: #e8d8b6;

// Цвет кнопок выбора в форме
$color-form-choice: #f2ead8;

$color-form-choice-active: #e2cc9d;

// Ширина контейнера
$max-width: 73.125rem;

// Breakpoints
// 1250px - 78.125em
// 1200px - 75em
// 992px - 62em
// 768px - 48em
// 578px - 36.125em

/// Main brand color
/// @type Color
// $brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
// $light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
// $dark-grey: rgb(68, 68, 68) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} va7ues - Values are actual breakpoints expressed in pixels
// $breakpoints: (
// 	'small': 320px,
// 	'medium': 768px,
// 	'large': 1024px,
// ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
// ///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
