.partners {
    padding: 2.8823em 0 3.8824em 0;
    &__text {
        margin-top: 1.294em;
        text-align: justify;
        @media (max-width: 36.125em) {
            font-size: 1rem;
        }
    }
    &__img {
        max-width: 30.647em;
        margin: 2.588em auto 2.1765em auto;
        border: 1px solid #f3ebda;
        img {
            display: block;
            margin: 2.8824em auto;
            width: 100%;
            height: auto;
            max-width: 15.176em;
        }
    }
    &__wrapp {
        max-width: 44.0589em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2.8823em auto 2em auto;
        img {
            width: 100%;
            height: auto;
            max-width: 21.176em;
            margin-bottom: 20px;
        }
        @media (max-width: 48em) {
            flex-direction: column;
            align-items: center;
        }
    }
}