.partners {
	padding-top: 2.941em;
	border-top: 1px solid rgba(50, 50, 50, 0.2);
	&__descr {
        margin-top: 1.294em;
        text-align: justify;
	}
    &__conf {
        margin-top: 2.3529em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form-title {
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }
    &__wrap {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 8px;
            background-image: url(../icons/selectArrow.png);
            top: 39px;
            right: 12px;
            z-index: -1;
        }
    }
    &__select {
        margin-top: 1.294em;
        padding-left: 1.2857em;
        width: 32.147em;
        height: 3.571em;
        border: 1px solid #e8d8b6;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 2;
        color: #606060;
        appearance: none;
        background-color: transparent;
    }
    &__wrapper {
        margin-top: 2.7647em;
        margin-left: auto;
        margin-right: auto;
        max-width: 50em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card {
        margin: 0 1.647em 3.8235em 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
