.partners {
    padding-bottom: 0.3529em;
    &__wrapper {
        margin-top: 2.2941em;
        max-width: 100%;
        justify-content: start;
    }
    &__card {
        margin-bottom: 4.2353em;
        &:nth-child(3n) {
            margin-right: 1.647em;
        }
        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
}