.sponsors {
    padding: 2.941em 0 0.1765em 0;
    &__form {
        margin: 2.3529em auto 0;
    }
    &__wrapper {
        margin-top: 2.7647em;
        margin-left: auto;
        margin-right: auto;
        width: 50em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 62em) {
            width: 40em;
        }
        @media (max-width: 48em) {
            width: 17em;
        }
    }
    &__card {
        margin: 0 1.647em 3.8235em 0;    
        &:nth-child(3n) {
            margin-right: 0;
        }        
        @media (max-width: 62em) {
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 1.647em;
            }
        }
        @media (max-width: 48em) {
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}