.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24.7647em;
    min-height: 21.8824em;
    background-color: $main-color;
    border: 2px solid $color-title;
    padding: 2.1176em 1.647em 1.8235em 1.647em;
    @media (max-width: 36.125em) {
        width: 17.0588em;
        padding: 2.1176em 0.8824em 1.8235em 0.8824em;
    }
    &__close {
        position: absolute;
        top: -0.7317em;
        right: -0.7317em;
        font-size: 2.5625rem;
        line-height: 0.5;
        color: $main-color;
        cursor: pointer;
        @media (max-width: 36.125em) {
            color: $color-title;
            top: 0.1951em;
            right: 0.1951em;
        }
    }
    &__subtitle {
        line-height: 1;
        font-weight: 500;
        color: $second-color;
        text-transform: uppercase;
        text-align: center;
    }
    &__descr {
        margin-top: 1em;
        color: $second-color;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.3333;
        text-align: center;
    }    
}

.subscribe-form {
    margin-top: 1.5294em;
    input {
        width: 100%;
        height: 3.5714em;
        background-color: #ffffff;
        border: 1px solid #e8d8b6;
        margin-bottom: 0.4286em;
        text-align: center;
        text-transform: uppercase;
        color: #606060;
        font-size: 0.875rem;
        font-weight: 300;
    }
    button {
        margin: 0.4615em auto 0 auto;
    }
}