.select {
    max-width: 26.47em;
    &_reg {
        max-width: 31.4286em;
    }
    &__title {
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }    
    &__wrapper {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1.2941em;
            height: 0.4706em;
            background-image: url(../icons/selectArrow.png);
            top: 2.5882em;
            right: 0.7059em;
            z-index: -1;
        }
        &_reg {
            &::before {
                width: 1.5714em;
                height: 0.5714em;
                top: 1.7143em;
                @media (max-width: 48em) {
                    width: 1.8333em;
                    height: 0.6666em;
                    top: 1.75em;
                }
            }
        }
    }    
    &__feeld {
        margin-top: 1.5714em;
        padding-left: 1.2857em;
        width: 100%;
        height: 3.7857em;
        border: 1px solid $color-form-border;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 2;
        color: $color-form-text;
        appearance: none;
        background-color: transparent;
        &_reg {
            margin-top: 0;
            @media (max-width: 48em) {
                font-size: 0.75rem;
            }
        }
    }
}