.clients {
	padding: 2.588em 0 4.118em 0;
	background-color: $color-section;
	&__slider {
		position: relative;
		margin: 1.941em auto 0 auto;		
		.slick-next,
		.slick-prev {
			position: absolute;
			background-color: transparent;
			border: none;
			left: -30px;
			top: 50%;
			transform: translateY(-50%);
			img {
				cursor: pointer;
				width: 12px;
				height: 47px;
			}
		}
		.slick-next {
			right: -30px;
			left: auto;
		}
		.slick-slide {
			margin-left: 0.353em;
			margin-right: 0.353em;
		}
	}
	@media (max-width: 78.125em) {
		&__slider {
			width: 45.88em;
		}
	}
	@media (max-width: 62em) {
		&__slider {
			width: 35.29em;
		}
	}
	@media (max-width: 48em) {
		&__slider {
			width: 24.71em;
		}
	}
	@media (max-width: 36.125em) {
		&__slider {
			width: 14.12em;
		}
	}
}
