.topmenu {
	position: relative;
	background-color: $second-color;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 48em) {
			justify-content: end;
			height: 56px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		font-size: 0.9375rem;
		@media (max-width: 48em) {
			position: fixed;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			height: 100vh;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(0, 0, 0, .8);
			font-size: 1.0625rem;

		}
		@media (max-width: 36.125em) {
			width: 100%;
		}
		&-subheader {
			display: none;
			@media (max-width: 48em) {
				display: block;
			}
		}
	}
	&__item {
		position: relative;
		margin: 0.667em 1.3333em 0.733em 0;
		&:hover {
			margin: 0 1.3333em 0 -1.3333em;
			padding: 0.667em 0 0.733em 1.3333em;
			background-color: $color-menu-active;
			.topmenu__dropdown {
				display: block;
			}
		}
		&-subheader {
			display: none;
			@media (max-width: 48em) {
				display: block;
			}
		}
	}
	&__link {
		display: block;
		line-height: 2.3334;
		padding-right: 1.3333em;
		border-right: 1px solid rgba(50, 50, 50, 0.1);
		flex-shrink: 0;
		&:last-child {
			border: none;
		}
	}
	&__dropdown {
		position: absolute;
		display: none;
		min-width: 19.667em;
		background-color: $main-color;
		border: 1px solid $color-dropdown;
		top: 3.7em;
		left: 0;
		z-index: 10;
		&-item {
			display: flex;
			align-items: center;
			min-height: 3.2em;
			margin: -0.067em 0.8em 0;
			padding-left: 0.8em;
			border-top: 1px solid $color-dropdown;
			border-bottom: 1px solid $color-dropdown;
			&:hover {
				margin: -0.067em 0 0 0;
				padding-left: 1.6em;
				background-color: $color-dropdown;
			}
			&:last-child {
				border: none;
			}
		}
		&-link {
			display: block;
			color: $second-color;
			line-height: 1.6em;
			flex-grow: 1;
		}
	}
}

.subheader {
	padding: 0.8824em 0;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
	.container {
		display: flex;
		justify-content: start;
		align-items: center;
	}
	&__logo {
		line-height: 1;
		width: 165px;
		img {
			width: 100%;
		}
	}
	&__menu {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: space-between;
		margin-left: 2.9334em;
		font-size: 0.9375rem;
		@media (max-width: 48em) {
			justify-content: end;
		}
		&-list {
			display: flex;
			@media (max-width: 48em) {
				display: none;
			}
		}
		&-item {
			margin-right: 33px;
			a {
				display: flex;
				align-items: center;
				color: $second-color;
				img {
					margin-right: 12px;
				}
			}
		}		
	}
}

.hamburger {
	@media (max-width: 48em) {
		display: block;
		position: absolute;
		width: 26px;
		height: 26px;
		top: 17px;
		left: 15px;
		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 7px;
		}
	}
}
