.promo {
	height: 25.882em;
	background-image: linear-gradient(rgba(50, 50, 50, 0.47), rgba(50, 50, 50, 0.47)),
		url('../images/hero.jpg');
	background-position: center;
	background-size: cover;
	padding-top: 7.235em;
	.container {
		display: flex;
		justify-content: end;
		@media (max-width: 48em) {
			justify-content: center;
		}
	}
	&__slider {
		position: relative;
		display: flex;
		width: 25.118em;
		border: 1px solid $main-color;
		margin-right: 2.235em;
		padding: 0.588em;
		.slick-next,
		.slick-prev {
			position: absolute;
			background-color: transparent;
			border: none;
			left: -1.7647em;
			top: 50%;
			transform: translateY(-50%);
			img {
				width: 0.7059em;
				height: 2.7647em;
				cursor: pointer;
			}
		}
		.slick-next {
			right: -1.7647em;
			left: auto;
		}
		@media (max-width: 48em) {
			margin-right: 0;
		}
		@media (max-width: 36.125em) {
			max-width: 16.1765em; 
		}
	}
	&__slide {
		display: flex;
		min-height: 9.353em;
		background-color: #f2eeec;
		padding: 0 1.176em 0 1.176em;
		align-items: center;
		@media (max-width: 36.125em) {
			padding: 0.5882em;
		}
		&-date {
			display: flex;
			width: 6.176em;
			height: 7.529em;
			margin-right: 1.176em;
			background-color: $main-color;
			border: 1px solid $color-title;
			color: $color-title;
			font-weight: 900;
			line-height: 1;
			text-transform: uppercase;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			@media (max-width: 36.125em) {
				width: 5.8824em;
				height: 7.0588em;
				margin-right: 0.8824em;
			}
		}
		&-day {
			font-size: 1.8125rem;			
			@media (max-width: 36.125em) {
				font-size: 1.6875rem;
			}
		}
		&-month {
			font-size: 1.125rem;
			margin: 2px 0;
			@media (max-width: 36.125em) {
				font-size: 1rem;
			}
		}
		&-year {
			font-size: 2.1875rem;
			@media (max-width: 36.125em) {
				font-size: 2.0625rem;
			}
		}
		&-title {
			font-size: 0.875rem;
			line-height: 1.214;
			font-weight: 500;
			text-transform: uppercase;
			color: $color-title;
			margin-bottom: 0.286em;
			@media (max-width: 36.125em) {
				font-size: 0.8125rem;
			}
		}
		&-text {
			height: 5.23em;
			font-size: 0.8125rem;
			line-height: 1.31;
			color: $second-color;
			margin-bottom: 0.308em;
			overflow: hidden;
			@media (max-width: 36.125em) {
				font-size: 0.75rem;
				height: 6.4706em;
			}
		}
		&-addr {
			font-size: 0.875rem;
			line-height: 1.214;
			color: #757575;
			@media (max-width: 36.125em) {
				font-size: 0.8125rem;
			}
		}
	}
}
