.promo {
	height: 25.882em;
	background-image: linear-gradient(rgba(50, 50, 50, 0.47), rgba(50, 50, 50, 0.47)),
		url('../images/hero.jpg');
	background-position: center;
	background-size: cover;
	padding-top: 7.235em;
	.container {
		display: flex;
		justify-content: end;
	}
	&__slider {
		position: relative;
		display: flex;
		max-width: 25.118em;
		height: 10.529em;
		border: 1px solid $main-color;
		margin-right: 2.235em;
		padding: 0.588em;
		flex-grow: 1;
		.slick-next,
		.slick-prev {
			position: absolute;
			background-color: transparent;
			border: none;
			left: -30px;
			top: 50%;
			transform: translateY(-50%);
			img {
				width: 12px;
				height: 47px;
			}
		}
		.slick-next {
			right: -30px;
			left: auto;
		}
	}
	&__slide {
		display: flex !important;
		height: 9.353em;
		background-color: #f2eeec;
		padding: 0 1.176em 0 1.176em;
		align-items: center;
		&-date {
			display: flex;
			width: 6.176em;
			height: 7.529em;
			margin-right: 1.176em;
			background-color: $main-color;
			border: 1px solid $color-title;
			color: $color-title;
			font-weight: 900;
			line-height: 1;
			text-transform: uppercase;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}
		&-day {
			font-size: 1.8125rem;
		}
		&-month {
			font-size: 1.125rem;
			margin: 2px 0;
		}
		&-year {
			font-size: 2.1875rem;
		}
		&-title {
			font-size: 0.875rem;
			line-height: 1.214;
			font-weight: 500;
			text-transform: uppercase;
			color: $color-title;
			margin-bottom: 0.286em;
		}
		&-text {
			height: 5.23em;
			font-size: 0.8125rem;
			line-height: 1.31;
			color: $second-color;
			margin-bottom: 0.308em;
			overflow: hidden;
		}
		&-addr {
			font-size: 0.875rem;
			line-height: 1.214;
			color: #757575;
		}
	}
}
