.reviews {
	padding: 3.1765em 0 3.5882em 0;
	background-color: $color-section;
	&__slider {
		position: relative;
		margin-top: 2.3529em;
		.slick-next,
		.slick-prev {
			position: absolute;
			background-color: transparent;
			border: none;
			left: -1.7647em;
			top: 50%;
			transform: translateY(-50%);
			img {
				width: 0.7059em;
				height: 2.7647em;
				cursor: pointer;
			}
		}
		.slick-next {
			right: -1.7647em;
			left: auto;
		}
		.slick-list {
			margin-left: -0.5882em;
			margin-right: -0.5882em;
		}
		.slick-slide {
			margin-left: 0.8824em;
			margin-right: 0.8824em;
		}
		@media (max-width: 78.125em) {
			width: 32.35em;
			margin-left: auto;
			margin-right: auto;
		}
		@media (max-width: 48em) {
			width: 30em;
		}
		@media (max-width: 36.125em) {
			width: 15.294em;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__slide {
		position: relative;
		display: flex !important;
		@media (max-width: 36.125em) {
			flex-direction: column;
		}
	}
	&__img {
		width: 7.1176em;
		height: 7.1176em;
		flex-shrink: 0;
		border: 2px solid $main-color;
		border-radius: 100%;
		object-fit: cover;
		@media (max-width: 36.125em) {
			width: 5.8824em;
			height: 5.8824em;
			align-self: center;
		}
	}
	&__wrap {
		width: 22.94em;
		height: 14.412em;
		background-color: $main-color;
		margin-left: 2em;
		padding: 1.5294em 1.5882em 1.7647em 1.7647em;
		overflow: hidden;
		flex-shrink: 0;
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-right: 20px solid $main-color;
			border-bottom: 20px solid transparent;
			left: 8em;
			top: 2.353em;
			@media (max-width: 36.125em) {
				transform: rotate(90deg);
				top: 5.5882em;
				left: 6.8235em;
			}
		}
		@media (max-width: 48em) {
			width: 20.59em;
		}
		@media (max-width: 36.125em) {
			width: 14.8235em;
			height: auto;			
			margin: 1.47em 0 0 0;
			padding-left: 1.5882em;
		}
	}
	&__name {
		font-weight: 500;
		line-height: 1;
	}
	&__date {
		margin-top: 1.2222em;
		width: 13.222em;
		background-color: $second-color;
		opacity: 0.5;
		font-size: 0.5625rem;
		line-height: 3.222;
		color: $main-color;
		text-align: center;
	}
	&__text {
		font-size: 0.875rem;
		line-height: 1.5714;
		text-align: justify;
		margin-top: 0.786em;
		@media (max-width: 48em) {
			font-size: 13px;
		}
	}
}
